.post-container {
  display: flex;
  flex-direction: column;
  padding: 10vh 20vh;
  gap: 2vh;
}

.text {
  white-space: pre-wrap;
  margin-top: 5vh;
}

.title {
  display: flex;
  justify-content: center;
}

.author {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.notes-container {
  margin: 0 auto;
  width: 50vw;
  margin-bottom: 5vh;
}

.divider {
  background-color: black;
  width: 80vw;
  height: 0.2vh;
  margin: 5vh 0;
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-comment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  width: 30vw;
  outline: 1px solid black;
  border-radius: 1vw;
  padding: 4vh 5vh;
}

.comment-author-container {
  display: flex;
  gap: 2vh;
}

.comment-text-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.add-a-comment {
  font-weight: bold;
  text-align: center;

  margin-bottom: 2vh;
}

.comment-text {
  height: 20vh;
}

.add-comment-btn {
  height: 5vh;
  width: 8vw;
  border-radius: 1vh;
}

.add-comment-close-btn {
  position: absolute;
  top: 1vh;
  right: 1vh;
  left: auto;
  z-index: 200;
  height: 5vh;
  width: 5vh;
  background-color: transparent;
  color: black;
  font-size: larger;
  border: none;
  cursor: pointer;
}
.add-comment-close-btn:hover {
  background-color: white;
  color: grey;
}

.submit-comment {
  align-self: center;
  height: 5vh;
  width: 5vw;
  border-radius: 1vh;
  margin-top: 1vh;
}

.existing-comments {
  margin-top: 7vh;
  /* width: 50vw; */
  width: 100%;

  outline: 1px solid black;
  border-radius: 1vw;
  padding: 3vh;
}
