.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5vh;

  /* overflow-y: visible; */
}

.blog-summary {
  display: flex;
  flex-direction: column;
  gap: 3vh;

  outline: 1px solid black;
  border-radius: 1vw;
  
  padding: 5vh;
  margin-bottom: 7vh;

  height: auto;
  min-height: 50vh;
  width: 85vw;
}