create-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
  width: 100vw;
}

post-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 92vh;
  width: 100vw;
}

post-form {
  height: 40vw;
  width: 20vw;
}
