.info {
    width: 40vw;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description {
    font-size: 150%;
    margin: 0 0 1vh 0;
}

.event-btn {
    height: 400px;
}
