@font-face {
    font-family: inter;
    src: url('src/fonts/Inter-VariableFont_opsz,wght.ttf');
}

body {
    font-family: inter;
    overflow-y: scroll;
}

.header {
    padding: 3vh 0vw;
    margin: 2vh 0 0 8vw;
}

.panel1 {
    height: 50vh;
    position: relative;
    z-index: -2;
}

.comic-panel-1 {
    height: 450px;
}

.banner {
    display: grid;
    position: relative;
}

.speech-bubble-big {
    position: absolute;
    height: 127px;
    translate: 25vw -50vh;
    grid-area: 1/1;
    z-index: 1;
}

.banner-text {
    position: absolute;
    font-size: 210%;
    translate: 30vw -50vh;
    grid-area: 1/1;
    z-index: 2;
}

.comic-panel-2 {
    position: absolute;
    translate: 0vw -30vh;
    height: 450px;
    z-index: -1;
}

.speech-bubble-small {
    height: 127px;
    translate: 50vw -25vh;
}